---
interface Props {
  title: string
  icon: string
}
const props = Astro.props
---

<div class="mb-6 py-6 space-y-8 md:space-y-12">
  <h2 class="_inview-1 flex flex-col items-start gap-4 text-2xl c-primary font-600 xs:(flex-row items-center)">
    <div class="flex items-center justify-center rounded-2 bg-primary p-1">
      <div class={`${props.icon} c-background`} />
    </div>
    {props.title}
  </h2>
  <slot />
</div>
