---
import Section from '@/components/section.astro'
import { useIndexTranslation } from '@/locales/i18n'

import { TestimonialBanner } from './testimonial-banner'

const { items, subTitle, title } = await useIndexTranslation(Astro.currentLocale, 'testimonial')
const data = {
  id: 'testimonials',
  title,
  subTitle,
}

---

<Section {...data}>
  <div class="mx-auto">
    <TestimonialBanner items={items} client:load />
  </div>
</Section>
