---
import { Image } from 'astro:assets'

import Zsh from '@/assets/img/zsh.webp'
import ExternalLink from '@/components/external-link.astro'
import { useFeatureTranslation } from '@/locales/i18n'

import SubSection from './part/sub-section.astro'

const {
  description,
  ref,
  title,
} = await useFeatureTranslation(Astro.currentLocale, 'icon')

const data = {
  title,
  description,
  icon: 'lucide:terminal',
} as const

interface ReferenceData {
  title: string
  name: string
  href: string
}

const references: ReferenceData[] = [
  {
    title: ref.artBy,
    name: 'CodeImg',
    href: 'https://github.com/subframe7536/vscode-codeimg',
  },
  {
    title: ref.theme,
    name: 'Maple',
    href: 'https://github.com/subframe7536/vscode-theme-maple',
  },
  {
    title: ref.prompt,
    name: 'Starship',
    href: 'https://starship.rs',
  },
]
---

<SubSection {...data}>
  <Image src={Zsh} alt="Nerd-Font showcase image" class="w-full rounded-lg inview-2 sm:rounded-2xl" />
  <div class="mx-auto mt-8 flex flex-row justify-evenly inview-3 xs:gap-4">
    {
      references.map(({ href, name, title }) => (
        <ExternalLink title={title} links={[[name, href]]} />
      ))
    }
  </div>
</SubSection>
