---
import type { FeatureCardProps } from './part/feature-card'

import FeatureCard from './part/feature-card'
import SubSection from './part/sub-section.astro'

const data = {
  title: 'Distinct Glyphs, Smooth Design',
  description:
    'Round corner, brand-new glyph designs with cursive style in italics',
  icon: 'i-lucide-pencil',
}

const features: FeatureCardProps[] = [
  {
    showText: '@ $ &',
    showText1: '% ->',
    feature: 'cv01',
    activeFeatures: ['cv01'],
    description: 'Special glyphs',
  },
  {
    showText: 'f i j',
    showText1: 'k x y',
    feature: 'normal style',
    activeFeatures: ['cv32', 'cv33', 'cv34', 'cv35', 'cv36', 'cv37'],
    description: 'Special glyphs',
    italic: true,
  },
  {
    showText: 'I 1 l',
    feature: 'cv04',
    activeFeatures: ['cv04'],
    description: 'Special glyphs',
  },
  {
    showText: 'O 0  ',
    feature: 'zero',
    activeFeatures: ['zero'],
    description: 'Special glyphs',
  },
]
---

<SubSection {...data}>
  <div class="grid grid-cols-1 content-center gap-6 sm:grid-cols-2">
    {features.map(feat => <FeatureCard {...feat} client:visible />)}
  </div>
</SubSection>
