---
import Zsh from '@/assets/img/zsh.webp'
import CreditCard from '@/components/credit-card.astro'
import { Image } from 'astro:assets'

import SubSection from './part/sub-section.astro'

const data = {
  title: 'Beautiful Icons, Embrace Modern',
  description: 'First-Class Nerd-Font support to make your terminal more vivid',
  icon: 'i-lucide-terminal',
}

interface ReferenceData {
  title: string
  name: string
  href: string
}

const references: ReferenceData[] = [
  {
    title: 'Art by',
    name: 'CodeImg',
    href: 'https://github.com/subframe7536/vscode-codeimg',
  },
  {
    title: 'Theme',
    name: 'Maple',
    href: 'https://github.com/subframe7536/vscode-theme-maple',
  },
  {
    title: 'Prompt',
    name: 'Starship',
    href: 'https://starship.rs',
  },
]
---

<SubSection {...data}>
  <Image src={Zsh} alt="Nerd-Font showcase image" class="w-full rounded-lg inview-2 sm:rounded-2xl" />
  <div class="mx-auto mt-8 flex flex-row justify-evenly inview-3 xs:gap-4">
    {
      references.map(({ href, name, title }) => (
        <CreditCard title={title} links={[[name, href]]} />
      ))
    }
  </div>
</SubSection>
