---
import type { FeatureCardProps } from './part/feature-card'

import { useFeatureTranslation } from '@/utils/i18n'

import FeatureCard from './part/feature-card'
import GenericLigature from './part/generic-ligature'
import SubSection from './part/sub-section.astro'

const {
  description,
  items,
  title,
} = await useFeatureTranslation(Astro.currentLocale, 'ligature')

const data = {
  title,
  description,
  icon: 'i-lucide-sparkles',
}

const subTitle = 'Special Ligatures'

const features: FeatureCardProps[] = [
  {
    showText: '[DEBUG] [INFO] [WARN] [ERROR]',
    showText1: '[TODO] todo)) [FIXME] fIxMe))',
    description: items.tag,
    feature: 'calt',
    activeFeatures: ['calt'],
    sizeClass: 'text-8 sm:text-10 !leading-loose',
  },
  {
    showText: 'all class',
    showText1: 'ultra suffix',
    description: items.conn,
    feature: 'calt',
    activeFeatures: ['calt'],
    sizeClass: 'text-8 sm:text-10',
    italic: true,
  },
  {
    showText: '1>>4',
    showText1: 'Vec<R<T>>',
    description: items.gts,
    feature: 'calt',
    activeFeatures: ['calt'],
    sizeClass: 'text-8 sm:text-10',
  },
]
---

<SubSection {...data}>
  <div class="mb-8 inview-2">
    <GenericLigature client:load />
  </div>
  <h3 class="py-12 text-2xl c-accent font-600 inview-3">{subTitle}</h3>
  <div class="grid gap-6 inview-4">
    <FeatureCard {...features[0]} enable client:load />
    <div class="grid w-full gap-6 md:grid-cols-2">
      <FeatureCard {...features[1]} enable client:load />
      <FeatureCard {...features[2]} enable client:load />
    </div>
  </div>
</SubSection>
