---
import CardWithFeatureSwitch from './part/card-with-feature-switch'
import SubSection from './part/sub-section.astro'

const data = {
  title: 'Distinct Glyphs, Smooth Design',
  description: 'Round corner, brand-new glyph designs with cursive style in italics',
  icon: 'i-lucide-pencil',
}
---

<SubSection {...data}>
  <div class="grid grid-cols-1 content-center gap-6 sm:grid-cols-2">
    <CardWithFeatureSwitch
      showText="@ $ &"
      showText1="% ->"
      feature="cv01"
      activeFeatures={['cv01']}
      description="Special glyphs"
      client:visible
    />
    <CardWithFeatureSwitch
      showText="f i j"
      showText1="k x y"
      feature="normal style"
      activeFeatures={['cv32', 'cv33', 'cv34', 'cv35', 'cv36', 'cv37']}
      description="Special glyphs"
      italic={true}
      client:visible
    />
    <CardWithFeatureSwitch
      showText="1 l I"
      feature="cv04"
      activeFeatures={['cv04']}
      description="Special glyphs"
      client:visible
    />
    <CardWithFeatureSwitch
      showText="0 O &nbsp;"
      feature="zero"
      activeFeatures={['zero']}
      description="Special glyphs"
      client:visible
    />
  </div>
</SubSection>
