---
import Section from '../../components/section.astro'
import FeatureCustom from './feature-custom.astro'
import FeatureDesign from './feature-design.astro'
import FeatureIcon from './feature-icon.astro'
import FeatureLigature from './feature-ligature.astro'
import FeatureVariable from './feature-variable.astro'

---

<Section id="features" title="Features">
  <FeatureVariable />
  <FeatureDesign />
  <FeatureLigature />
  <FeatureIcon />
  <FeatureCustom />
</Section>
