---
import { Code } from 'astro:components'

import mapleTheme from '@/assets/maple-dark-color-theme.json'

interface Props {
  code: string
  title: string
  lang: 'tsx' | 'vue' | 'python' | 'java' | 'go' | 'rust' | 'cpp' | 'csharp'
}
const props = Astro.props
---
<div class="inview-1">
  <div class="pb-4 text-xl">{props.title}</div>
  <Code
    class="rounded-lg p-4 text-sm"
    code={props.code}
    lang={props.lang}
    theme={mapleTheme as any}
  />
</div>
