---
import Section from '@/components/section.astro'
import { useIndexTranslation } from '@/utils/i18n'

import ComparsionTabs from './comparison-tabs'

const { subTitle, title } = await useIndexTranslation(Astro.currentLocale, 'comparison')
const data = {
  id: 'comparison',
  title,
  subTitle,
}
---

<Section {...data}>
  <div class="mx-auto max-w-5xl">
    <ComparsionTabs client:load />
  </div>
</Section>
