---
import { Button } from '../../components/ui/button'

interface Props {
  data: {
    title: string
    links: [name: string, href: string][]
  }
}

const { title, links } = Astro.props.data
---

<div
  class="flex flex-col"
>
  <div class="mb-3 text-lg c-primary font-(italic 500)">
    {title}
  </div>
  <div class="flex flex-col gap-2">
    {
      links.map(([name, href]) => (
        <Button
          as="a"
          variant="link"
          href={href}
          target="_blank"
          class="parent ml--4 w-fit"
        >
          {name}
          <span class="i-lucide-external-link ml-1 c-secondary transition parent-hover:translate-(x-.5 y--.5)" />
        </Button>
      ))
    }
  </div>
</div>
