---
import Layout from '../layouts/Layout.astro'
import Credits from '../sections/credits.astro'
import Features from '../sections/features.astro'
import Hero from '../sections/hero.astro'
import Nav from '../sections/nav.astro'
import Testimonials from '../sections/testimonials.astro'
import Why from '../sections/why.astro'
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Why />
    <Features />
    <!-- <Preview /> -->
    <!-- <Comparison /> -->
    <Testimonials />
    <!-- <FAQ /> -->
    <Credits />
  </main>
</Layout>
<!-- <script type="module">
  import VConsole from 'https://esm.sh/vconsole@latest/dist/vconsole.min.js'
  let vConsole = new VConsole()
</script> -->
<script>
import { useInView } from 'unocss-preset-inview/runtime'

const [start] = useInView()
start()
</script>
