---
import Layout from '@/layouts/Layout.astro'
import Comparison from '@/sections/comparison/index.astro'
import Credits from '@/sections/credits.astro'
import Faq from '@/sections/faq/index.astro'
import Features from '@/sections/features/index.astro'
import Hero from '@/sections/hero/index.astro'
import Nav from '@/sections/nav.astro'
import Testimonials from '@/sections/testimonials/index.astro'
import Why from '@/sections/why/index.astro'
---

<Layout>
  <Nav isMain />
  <main class="h-screen w-full overflow-(x-hidden y-scroll) scroll-smooth">
    <Hero />
    <Why />
    <Features />
    <Comparison />
    <Testimonials />
    <Faq />
    <Credits />
  </main>
</Layout>
<!-- <script type="module">
  import VConsole from 'https://esm.sh/vconsole@latest/dist/vconsole.min.js'
  let vConsole = new VConsole()
</script> -->
<script>
import { useInView } from 'unocss-preset-inview/runtime'

const [start] = useInView()
start()
</script>
