---
import type { FontFeatureItem } from '../sections/playground'

import Layout from '../layouts/Layout.astro'
import Nav from '../sections/nav.astro'
import PlaygroundArea from '../sections/playground'

const basicFeatures: FontFeatureItem[] = [
  {
    desc: 'Enable ligatures',
    text: '==>',
    feat: 'calt',
    version: '7.0',
  },
  {
    desc: 'Alternative zero',
    text: '0',
    feat: 'zero',
    version: '7.0',
  },
]
const cvFeatures: FontFeatureItem[] = [
  {
    desc: 'Remove gaps',
    text: '@$%',
    feat: 'cv01',
    version: '7.0',
  },
  {
    desc: 'Alternative a',
    text: 'a',
    feat: 'cv02',
    version: '7.0',
  },
  {
    desc: 'Alternative i',
    text: 'i',
    feat: 'cv03',
    version: '7.0',
  },
  {
    desc: 'Alternative l',
    text: 'l',
    feat: 'cv04',
    version: '7.0',
  },
]
const italicFeatures: FontFeatureItem[] = [
  {
    desc: 'Alternative a',
    text: 'a',
    feat: 'cv31',
    version: '7.0',
  },
  {
    desc: 'Alternative f',
    text: 'f',
    feat: 'cv32',
    version: '7.0',
  },
  {
    desc: 'Alternative i and j',
    text: 'ij',
    feat: 'cv33',
    version: '7.0',
  },
  {
    desc: 'Alternative k',
    text: 'k',
    feat: 'cv34',
    version: '7.0',
  },
  {
    desc: 'Alternative l',
    text: 'l',
    feat: 'cv35',
    version: '7.0',
  },
  {
    desc: 'Alternative x',
    text: 'x',
    feat: 'cv36',
    version: '7.0',
  },
  {
    desc: 'Alternative y',
    text: 'y',
    feat: 'cv37',
    version: '7.0',
  },
]
const cnFeatures: FontFeatureItem[] = [
  {
    desc: 'Full width quotes',
    text: '“‘’”',
    feat: 'cv96',
    version: '7.0',
  },
  {
    desc: 'Full width ellipsis',
    text: '……',
    feat: 'cv97',
    version: '7.0',
  },
  {
    desc: 'Full width emdash',
    text: '——',
    feat: 'cv98',
    version: '7.0',
  },
  {
    desc: 'Tranditional punctuations',
    text: '，。',
    feat: 'cv99',
    version: '7.0',
  },
]
const ssFeatures: FontFeatureItem[] = [
  {
    desc: 'Break equals',
    text: '==',
    feat: 'ss01',
    version: '7.0',
  },
  {
    desc: 'Break compare and equal',
    text: '>=',
    feat: 'ss02',
    version: '7.0',
  },
  {
    desc: 'Enable arbitrary tag',
    text: '[todo]',
    feat: 'ss03',
    version: '7.0',
  },
  {
    desc: 'Break multi underscore',
    text: '__',
    feat: 'ss04',
    version: '7.0',
  },
  {
    desc: 'Thin escape backslash',
    text: '\\n',
    feat: 'ss05',
    version: '7.0',
  },
  {
    desc: 'Break connected strokes',
    text: 'all',
    feat: 'ss06',
    version: '7.0',
  },
  {
    desc: 'Normal multiple greaters',
    text: '>>>',
    feat: 'ss07',
    version: '7.0',
  },
  {
    desc: 'Enable double / back rows',
    text: '=>>',
    feat: 'ss08',
    version: '7.0',
  },
]

const defaultText = [
  'Maple Mono, smooth your coding flow',
  'abcdefghijklmnopqrstuvwxyz',
  '~!@#$%^&* I1l oO0 {} [] ()',
  '!= !== <= #{ -> ~@ |>',
  '[INFO] todo)) fixme))',
  'Input your text here.',
].join('\n\n')
---

<Layout>
  <Nav isMain={false} />
  <!-- https://lilex.myrt.co/ -->
  <div class="h-screen w-full pt-8">
    <PlaygroundArea
      features={{
        basic: basicFeatures,
        cv: cvFeatures,
        italic: italicFeatures,
        cn: cnFeatures,
        ss: ssFeatures,
      }}
      sizeRange={[12, 96]}
      weightRange={[200, 800]}
      defaultText={defaultText}
      client:load
    />
  </div>
</Layout>
