---
import type { FontFeatureItem } from '../sections/playground'

import Layout from '../layouts/Layout.astro'
import PlaygroundArea from '../sections/playground'

const cvFeatures: FontFeatureItem[] = [
  {
    title: 'Basic ligatures',
    text: '==>',
    feat: 'calt',
  },
  {
    title: 'Alt zero',
    text: '0',
    feat: 'zero',
  },
  {
    title: 'Remove gaps',
    text: '@$%',
    feat: 'cv01',
  },
  {
    title: 'Alt a',
    text: 'a',
    feat: 'cv02',
  },
  {
    title: 'Alt i',
    text: 'i',
    feat: 'cv03',
  },
  {
    title: 'Alt l',
    text: 'l',
    feat: 'cv04',
  },
]
const italicFeatures: FontFeatureItem[] = [
  {
    title: 'Alt a',
    text: 'a',
    feat: 'cv31',
  },
  {
    title: 'Alt f',
    text: 'f',
    feat: 'cv32',
  },
  {
    title: 'Alt i & j',
    text: 'ij',
    feat: 'cv33',
  },
  {
    title: 'Alt k',
    text: 'k',
    feat: 'cv34',
  },
  {
    title: 'Alt l',
    text: 'l',
    feat: 'cv35',
  },
  {
    title: 'Alt x',
    text: 'x',
    feat: 'cv36',
  },
  {
    title: 'Alt y',
    text: 'y',
    feat: 'cv37',
  },
]
const cnFeatures: FontFeatureItem[] = [
  {
    title: 'Full width quote',
    text: '“”',
    feat: 'cv96',
  },
  {
    title: 'Full width ellipsis',
    text: '…',
    feat: 'cv97',
  },
  {
    title: 'Full width emdash',
    text: '—',
    feat: 'cv98',
  },
  {
    title: 'Tranditional punctuations',
    text: '，',
    feat: 'cv99',
  },
]
const ssFeatures: FontFeatureItem[] = [
  {
    title: 'Break equals',
    text: '==',
    feat: 'ss01',
  },
  {
    title: 'Break compile and equal',
    text: '==',
    feat: 'ss02',
  },
  {
    title: 'Enable arbitrary tag',
    text: '==',
    feat: 'ss03',
  },
  {
    title: 'Break multi underscore',
    text: '==',
    feat: 'ss04',
  },
  {
    title: 'Thin backslash in escape letters',
    text: '==',
    feat: 'ss05',
  },
  {
    title: 'Break italic connected strokes',
    text: 'all',
    feat: 'ss06',
  },
  {
    title: 'Normal multiple greaters',
    text: '>>>',
    feat: 'ss07',
  },
  {
    title: 'Enable head and back rows',
    text: '=>>',
    feat: 'ss08',
  },
]
---

<Layout>
  <!-- https://lilex.myrt.co/ -->
  <div class="h-screen w-full">
    <PlaygroundArea
      cv={cvFeatures}
      italic={italicFeatures}
      cn={cnFeatures}
      ss={ssFeatures}
      sizeRange={[12, 200]}
      weightRange={[200, 800]}
      client:load
    />
  </div>
</Layout>
