---
import { cls } from 'cls-variant'

interface Props {
  id: string
  class?: string
  title?: string
  subTitle?: string
}
const props = Astro.props
---

<section
  id={props.id}
  class={cls(
    'no-inview:scroll-mt-24 mx-auto max-w-4xl w-96% xs:w-90% text-left *:px-6',
    props.title && 'space-y-8 md:space-y-12 mb-16 pt-20',
    props.class,
  )}
>
  {
    props.title && (
      <h1 class="_inview-1 text-(4xl secondary) font-bold">
        {props.title}
      </h1>
    )
  }
  {
    props.subTitle && (
      <p class="_inview-2 text-(xl foreground/80) md:text-2xl">
        {props.subTitle}
      </p>
    )
  }
  <div class={props.title ? '_inview-3' : ''}>
    <slot />
  </div>
</section>
