---
import Section from '../../components/section.astro'
import Reason from './reason.md'
---

<Section id="why" title="Why">
  <div class="text-xl leading-relaxed prose">
    <Reason />
  </div>
</Section>
