---
import type { Props as CreditCardProps } from '@/components/credit-card.astro'

import CreditCard from '@/components/credit-card.astro'
import Section from '@/components/section.astro'
import { useIndexTranslation } from '@/utils/i18n'

const { subTitle, title, items } = await useIndexTranslation(Astro.currentLocale, 'credits')

const data = {
  id: 'credits',
  title,
  subTitle,
}

const creaditData: CreditCardProps[] = [
  {
    title: items.base,
    links: [
      ['JetBrains Mono', 'https://github.com/JetBrains/JetBrainsMono'],
    ],
  },
  {
    title: items.icon,
    links: [
      ['Nerd Fonts', 'https://github.com/ryanoasis/nerd-fonts'],
    ],
  },
  {
    title: items.cn,
    links: [
      [
        'Resource Han Rounded',
        'https://github.com/CyanoHao/Resource-Han-Rounded',
      ],
    ],
  },
  {
    title: items.inspiration,
    links: [
      ['Commit Mono', 'https://github.com/eigilnikolajsen/commit-mono'],
      ['Fira Code', 'https://github.com/tonsky/FiraCode'],
      ['Iosevka', 'http://be5invis.github.io/Iosevka'],
      ['Monaspace', 'https://monaspace.githubnext.com/'],
      ['Monolisa', 'https://monolisa.dev'],
      ['Recursive', 'https://www.recursive.design/'],
      ['Roboto Mono', 'https://github.com/googlefonts/RobotoMono'],
      ['Victor Mono', 'https://rubjo.github.io/victor-mono/'],
    ],
  },
  {
    title: items.font,
    links: [
      ['Fonttools', 'https://github.com/fonttools/fonttools'],
      ['FoundryTools-CLI', 'https://github.com/ftCLI/FoundryTools-CLI'],
      // ['Pyodide', 'https://pyodide.org/en/stable/index.html'],
    ],
  },
  {
    title: items.web,
    links: [
      ['Astro', 'https://astro.build'],
      ['SolidJS', 'https://solidjs.com'],
      ['UnoCSS', 'https://unocss.dev'],
      ['ESM.sh', 'https://esm.sh'],
    ],
  },
]
---

<Section {...data}>
  <div class="grid grid-cols-1 w-full gap-4 md:grid-cols-3 sm:grid-cols-2 *:min-w-18">
    <div class="row-span-1 c-accent md:row-span-2">
      <CreditCard {...creaditData[0]} />
    </div>
    <div class="row-span-1 md:(row-span-2 col-start-1 row-start-3)">
      <CreditCard {...creaditData[1]} />
    </div>
    <div class="row-span-1 md:(row-span-2 col-start-1 row-start-5)">
      <CreditCard {...creaditData[2]} />
    </div>
    <div class="row-span-2 md:(row-span-6 col-start-2 row-start-1)">
      <CreditCard {...creaditData[3]} />
    </div>
    <div class="row-span-1 md:(row-span-3 col-start-3 row-start-1)">
      <CreditCard {...creaditData[4]} />
    </div>
    <div class="row-span-1 md:(row-span-3 col-start-3 row-start-4)">
      <CreditCard {...creaditData[5]} />
    </div>
  </div>
</Section>
