---
import Section from '../components/section.astro'
import { Button } from '../components/ui/button'
---

<Section
  id="hero"
  class="min-h-screen flex items-center"
>
  <div class="mx-auto animate-fade-in px-8 container space-y-6 w-90%">
    <div class="mx-auto max-w-3xl text-left">
      <h1 class="mt-16 text-12 font-700 hero-gradient lg:text-20 md:(text-16 mt-0)">
        Maple Mono
      </h1>
      <p class="mt-4 text-7 c-accent font-(600 italic) lg:text-12 md:text-8">
        Smooth your coding flow
      </p>
    </div>
    <p class="mx-auto max-w-3xl py-4 text-(left 4) leading-relaxed md:text-5">
      We encode our thoughts into products using code, and font is crucial to making flow both visible and practical.
      <b>
        <i>Maple Mono</i>
      </b>
      {' '}
      is crafted for programmer, put more vivid into your coding experience.
    </p>
    <div class="mx-auto max-w-3xl flex flex-wrap items-center justify-start gap-6">
      <Button as="a" href="#why" size="lg" variant="default">
        Learn More
        <div class="i-lucide-arrow-down ml-2"></div>
      </Button>
      <Button as="a" size="lg" href="/download#custom" variant="outline">
        Try it now
        <div class="i-lucide-arrow-right ml-2"></div>
      </Button>
    </div>
  </div>
</Section>
