---
import Section from '../components/section.astro'
import { Button } from '../components/ui/button'
---

<Section
  id="hero"
  class="min-h-screen flex flex-col justify-center gap-2 xl:gap-4"
>
  <h1
    class="w-fit text-10 c-primary font-700 md:(mt-0 text-16) lg:text-20 sm:text-12 hero-gradient"
  >
    Maple Mono
  </h1>
  <p
    class="xs:text-6 mt-2 w-fit text-5.5 c-accent font-(550 italic) lg:text-10 md:text-8"
  >
    Smooth your coding flow
  </p>
  <p class="xs:leading-[1.875] py-4 text-4 leading-relaxed md:text-5">
    We use code to bring ideas to life as products, meanwhile the font we choose
    shapes how we experience that journey.
    <br />
    <b class="font-600"><i>Maple Mono</i></b>
    {' '}
    is crafted for programmer, delivering a subtle elegance that makes every line
    of code a joy to read and write.
  </p>
  <div class="flex flex-wrap items-center justify-start gap-6">
    <Button as="a" href="#why" size="lg">
      Learn More
      <div class="i-lucide-arrow-down ml-2"></div>
    </Button>
    <Button as="a" size="lg" href="/download#custom" variant="outline">
      Try it now
      <div class="i-lucide-arrow-right ml-2"></div>
    </Button>
  </div>
</Section>
