---
import { Button } from '../components/ui/button'
---
<nav
  class="fixed z-10 w-full flex items-center bg-background/50 p-2 backdrop-blur-lg"
>
  <img src="/favicon.svg" alt="Maple Mono" class="h-6" />
  <div class="ml-2 w-full flex justify-end md:justify-between">
    <div class="hidden items-center sm:flex">
      <Button size="sm" variant="link" as="a" href="#hero">INTRO</Button>
      <Button size="sm" variant="link" as="a" href="#why">WHY</Button>
      <Button size="sm" variant="link" as="a" href="#features">FEATURES</Button>
      <Button size="sm" variant="link" as="a" href="#faq">FAQ</Button>
      <Button size="sm" variant="link" as="a" href="#credits">CREDITS</Button>
    </div>
    <div class="flex items-center gap-4">
      <Button
        size="sm"
        as="a"
        class="mr--2"
        variant="link"
        href="https://github.com/subframe7536/maple-font"
        target="_blank"
        title="GitHub"
        aria-label="GitHub"
      >
        <div class="i-lucide-github mr-2 size-4"></div>
        GitHub
      </Button>
      <Button size="sm" variant="link" as="a" href="/how">Usage</Button>
      <Button size="sm" as="a" href="/download">Download</Button>
    </div>
  </div>
</nav>
