---
import Reason from '../components/reason.md'
import Section from '../components/section.astro'
---

<Section id="why" title="Why">
  <div class="text-xl leading-relaxed prose">
    <Reason />
  </div>
</Section>
