---
import { ClientRouter } from 'astro:transitions'
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <!-- todo)) og image / twitter -->
    <!-- https://liruifengv.com/posts/astro-auto-gen-og-image/ -->
    <meta name="generator" content={Astro.generator} />
    <title>Maple Mono</title>
    <ClientRouter />
  </head>
  <body class="bg-background c-foreground transition-colors all-font-liga">
    <slot />
  </body>
</html>
