<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Maple Mono</title>
  </head>
  <body class="bg-background c-foreground transition-colors !all-font-liga">
    <slot />
  </body>
</html>
