---
import { useNavTranslation } from '@/locales/i18n'
import Nav from '@/sections/nav.astro'

import Layout from './Layout.astro'

const { titles } = await useNavTranslation(Astro.currentLocale)
---
<Layout title={`${titles.usage} | Maple Mono`}>
  <Nav title="usage" />
  <div class="overflow-(x-hidden y-scroll) scroll-smooth">
    <div class="mx-auto h-screen max-w-4xl w-96% px-6 pt-20 text-left prose xs:w-90%">
      <slot />
    </div>
  </div>
</Layout>
